@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lora", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Global Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0 0 1rem 0;
  line-height: 1.2;
  color: #222;
}

/* Individual Heading Styles */
h1 {
  font-size: 3rem; /* ~40px */
  color: #000;
}

h2 {
  font-size: 2rem; /* ~32px */
  color: #111;
}

h3 {
  font-size: 1.75rem; /* ~28px */
  color: #222;
}

h4 {
  font-size: 1.5rem; /* ~24px */
  color: #333;
}

h5 {
  font-size: 1.25rem; /* ~20px */
  color: #444;
}

h6 {
  font-size: 1rem; /* ~16px */
  color: #555;
}

p,
a {
  font-size: 1.1rem;
  font-family: "Lora", sans-serif;
  margin: 1rem 1rem 1.5rem 1rem;
  letter-spacing: 2px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem; /* 16px padding */
}

.add-spot-icon {
  width: 48px;
  height: 48px;
}

.grid-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* Ensures square containers */
  overflow: hidden; /* Prevents overflow from images */
  border-radius: 0.5rem; /* Optional: Rounds the corners */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(env(safe-area-inset-top) + 1rem) 1rem 1rem; /* Add padding for the notch */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: transform 1s ease, opacity 1s ease;
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  gap: 1rem;
  margin: 1rem;
}

.sticky-header {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%); /* Move header out of view */
  opacity: 0; /* Optional: Hide with transparency */
}

.header:not(.hidden) {
  transform: translateY(0); /* Return header to view */
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem; /* ~40px */
  }
  h2 {
    font-size: 2.25rem; /* ~32px */
  }
  h3 {
    font-size: 2rem; /* ~28px */
  }
  h4 {
    font-size: 1.75rem; /* ~24px */
  }
  h5 {
    font-size: 1.5rem; /* ~20px */
  }
  h6 {
    font-size: 1.25rem; /* ~16px */
  }

  p {
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  a {
    font-size: 1.1rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  .map {
    height: 100vh !important;
    width: 100vw;
  }

  .navbar {
    flex-direction: column; /* Stack buttons vertically */
    height: 100%; /* Full height for left alignment */
    width: auto; /* Adjust width as needed */
    align-items: center; /* Align buttons to the left */
    justify-content: flex-start; /* Start from the top */
    padding: 1rem; /* Adjust padding for spacing */
    padding-top: 7rem; /* Add space at the top */
    background-color: transparent;
  }

  .navbar button {
    flex-direction: row; /* Display icon and text in a row */
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Make buttons take full width */
    margin-bottom: 2rem; /* Add space between buttons */
  }

  .navbar button span {
    display: inline-block; /* Ensure text is visible */
    margin-left: 0.5rem; /* Add spacing between icon and text */
  }

  .filter-icon {
    width: 28px;
    height: 28px;
  }
  .icon-size {
    width: 32px;
    height: 32px;
  }
  .header input {
    font-size: 20px;
    line-height: 1.1;
  }

  .search > input {
    width: 40vw;
    padding: 0.5rem;
  }

  .spot {
    width: 30rem;
  }

  .hero-text {
    padding-left: 4rem;
  }

  .locate-btn {
    bottom: 100px !important;
    left: 200px !important;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.7rem; /* ~32px */
  }
  h2 {
    font-size: 1.6rem; /* ~28px */
  }
  h3 {
    font-size: 1.5rem; /* ~24px */
  }
  h4 {
    font-size: 1.25rem; /* ~20px */
  }
  h5 {
    font-size: 1.1rem; /* ~18px */
  }
  h6 {
    font-size: 0.95rem; /* ~15px */
  }

  p {
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  a {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

  .map {
    height: calc(100vh - 60px) !important;
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .hero-images {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    max-width: 90vw;
  }
  h3 {
    font-size: 1rem;
  }
  h3 > span {
    font-size: 0.8rem;
  }
  .hero-text {
    padding-left: 1rem;
  }
}

.btn-primary {
  display: block;
  color: #000000;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  align-content: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-secondary {
  display: block;
  color: #ffffff;
  background-color: #fb923c;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  align-content: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.locate-btn {
  position: absolute;
  z-index: 100;
  height: 52px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  bottom: 80px;
  left: 8px;
}

button {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
}

/* Hover and Focus Effects */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #5a88ff;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  outline: none; /* Remove default focus outline */
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  outline: none; /* Remove default focus outline */
}

.btn-primary:focus {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4), 0 0 0 3px rgba(195, 212, 255, 0.7);
}

.leaflet-control-container .leaflet-top.leaflet-left {
  top: 100px;
}

.progress-bar {
  transition: width 0.5s ease-in-out;
}

.post-container {
  max-width: 500px;
  max-height: 500px;
  width: 100%; /* Ensures the container is responsive */
  height: 500px; /* Explicit height to prevent 0 height issue */
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
}

.post-image {
  object-fit: cover; /* Ensures the image covers the container */
  width: 100%; /* Fill the width of the container */
  height: 100%; /* Fill the height of the container */
}

.transition-slide-up {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}
.transition-slide-up-active {
  transform: translateY(0);
}

/* CSS for smooth sliding up effect */
.fixed-form {
  transition: transform 0.3s ease-in-out;
}

.hidden-form {
  transform: translateY(100%);
}

.visible-form {
  transform: translateY(-10vh);
}
